<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            First name: <%= data.firstName %>
        </li>
        <li>
            Last name: <%= data.lastName %>
        </li>
        <li>
            DOB: <%= data.dayOfBirth %>/<%= data.monthOfBirth %>/<%= data.yearOfBirth %>
        </li>
        <li>
            Email: <%= data.email %>
        </li>
        <li>
            Health ID: <%= data.healthId %>
        </li>
        <li>
            Health ID Number: <%= data.healthIdNumber %>
        </li>
    </ul>
</body>
</html>