<!-- user's profile page  -->

<link rel="stylesheet" href="/css/profile.css">

<div id="outer-container">
    <div id="profile-container">
        <div id="profile-image">
            <% if(student.avatar) {%>
                <img src="<%= student.avatar %>" alt="USER-IMAGE">
            <%}else{%>
                <img src="https://149448289.v2.pressablecdn.com/wp-content/uploads/user-placeholder.png" alt="USER-IMAGE">
            <%}%>
            <br>
            <form action="/students/update/<%= student._id %>" enctype="multipart/form-data" method="POST">                
                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
            </form>
        </div>
        <div id="student-data">
            <h2 class="text-underline"><b><%= student.name %></b></h2>
            <h4>&nbsp;&nbsp;&nbsp;-<%= student.email %></h4>
            <table>
                <tr>
                    <td><h3><span class="circle-box-green">Batch:</span></h3></td>
                    <td><h3><%= student.batch %></h3></td>
                </tr>
                <tr>
                    <td><h3><span class="circle-box-green">College:</span></h3></td>
                    <td><h3><%= student.college %></h3></td>
                </tr>
                <tr>
                    <td><h3><span class="circle-box-green">Status:</span></h3></td>
                    <td><h3><%= student.status %></h3></td>
                </tr>
            </table>
            <hr>
            <div id="subject-scores">
                <h4 class="text-underline">SUBJECT SCORES:</h4>
                <ul>
                    <% for(c of student.courses) { %>
                        <li>
                            <h3><span class="circle-box-green">Subject:</span> <%= c.name %></h3>
                            <h3><span class="circle-box-green">Score:</span> <%= c.score %></h3>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- list of interviews of student  -->
<div id="student-interview-data">
    <h2 class="text-bold text-underline circle-box-grey">SCHEDULED INTERVIEWS</h2>
    <ul>
        <% for(i of student.interviews) { %>
            <li class="card">
                <h3>COMPANY: <%= i.company.name %></h3>
                <h3>DATE: <%= i.date %></h3>
            </li>
        <% } %>
    </ul>
</div>